In [1]:
import pandas as pd
import numpy as np
import numpy_financial as npf

In [2]:
df=pd.read_excel('PraeterBV_Case.xlsx',sheet_name='Opdracht_2_input_output')
df

    Unnamed: 0               Unnamed: 1    Unnamed: 2 Unnamed: 3    Unnamed: 4
0          NaN               Toepassing           NaN        NaN           NaN
1          NaN                      NaN           NaN        NaN           NaN
2          NaN                 Algemeen           NaN        NaN           NaN
3          NaN                 Inflatie          0.02        NaN        inputs
4          NaN            Afschrijving        Lineair        NaN        output
5          NaN          Eigen Vermogen            0.2        NaN  Stamgegevens
6          NaN                Rente VV           0.04        NaN           NaN
7          NaN                Belasting         0.165        NaN           NaN
8          NaN                      NaN           NaN        NaN           NaN
9          NaN                      NaN           NaN        NaN           NaN
10         1.0                Infrarood            Ja        NaN           NaN
11         NaN                  Termijn            12       jaar           NaN
12         NaN           Herinvestering             6       jaar           NaN
13         NaN                      NaN           NaN        NaN           NaN
14         NaN              Investering        160000        NaN           NaN
15         NaN      Subsidie (eenmalig)         10000        NaN           NaN
16         NaN               Restwaarde             0        NaN           NaN
17         NaN                      NaN           NaN        NaN           NaN
18         NaN                Inkomsten           NaN        NaN           NaN
19         NaN                Besparing         20000        NaN           NaN
20         NaN     Subsidie (jaarlijks)           800        NaN           NaN
21         NaN                      NaN           NaN        NaN           NaN
22         NaN                   Kosten           NaN        NaN           NaN
23         NaN        Eenmalige kosten          30000        NaN           NaN
24         NaN  Vaste exploitatiekosten          2000        NaN           NaN
25         NaN           Herinvestering          4000        NaN           NaN
26         NaN                      NaN           NaN        NaN           NaN
27         NaN             Financiering           NaN        NaN           NaN
28         NaN       Totale investering        150000        NaN           NaN
29         NaN             Afschrijving         12500        NaN           NaN
30         NaN                Aflossing         10000        NaN           NaN
31         NaN                      NaN           NaN        NaN           NaN
32         NaN                      NaN           NaN        NaN           NaN
33         NaN                      NaN           NaN        NaN           NaN
34         NaN                      NaN           NaN        NaN           NaN
35         NaN                      IRR      0.043872        NaN           NaN
36         NaN                      REV      0.049842        NaN           NaN
37         NaN       Winst na belasting  25901.984552        NaN           NaN
38         NaN                      TVT      9.532799        NaN           NaN